<h1>Create a recipe!</h1>
<form action="/recipes" method="post">  
    <label for="title">Title: </label>
    <input type="text" name="title"> <br>
    <label for="ingredients"> Ingredients: </label>
    <input type="text" name="ingredients"> <br>
    <label for="instructions"> Instructions </label>
    <input type="text" name="instructions"> <br>
    <input type="submit" value="Create Recipe">
</form>